@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui/theme" {
  --color-primary: #f000b8;
  --color-secondary: #C1BFFF;
  --color-accent: #f000b8;
}
*{
  font-family: "Montserrat", sans-serif;
}


